{% extends 'core/base.html' %}
{% block title %} Привязать AmoCRM {% endblock title %}
{% block content %}
    <style>
        .button-box {
            width: 520px;
            margin: 35px auto;
            padding: 20px 20px 20px 20px;
            position: relative;
            border-radius: 30px;
            box-shadow: 0 0 50px 2px rgb(105, 105, 105);
            background-color: #ffffff;
        }
    </style>

    <div class="container px-5 py-5 pb-4" style="border-bottom: solid black;">
        <h1 class="text-dark">Подключение AmoCRM </h1>
    </div>
    <form action="/amoconnect" method="POST" class="button-box text-center">
        <div class="mb-3">
            <label for="login" class="form-label mb-0">Логин</label>
            <input type="text" class="form-control pt-0" id="login" name="login" aria-describedby="emailHelp"
                   value="{{ login }}">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label mb-0">Пароль</label>
            <input type="password" class="form-control pt-0" id="password" name="password" value="{{ password }}">
        </div>
        <div class="mb-2">
            <button type="submit" class="btn btn-warning shadow-bttn">Войти</button>
        </div>
    </form>


{% endblock %}