{% extends 'core/base.html' %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='ccs/home.css') }}">

{% block content %}
    <div class="container px-5 py-5 pb-4" style="border-bottom: solid black;">
        <h1 class="text-dark">Работа с Telegram </h1>
    </div>
    <div class="container px-5 ">
        <div class="py-3">
            <h4 class="text-dark pb-3">Telegram API ID </h4>
            <form method="post" action="">
                <div class="input-group ">
                    <span class="input-group-text btn-warning text-white ">Введите APi ID</span>
                    <label style="width: calc(100% - 230.73px); height: 38px">
                        <input class="input-q" style="width: 100%; height: 38px" name="api_id" value="">
                    </label>
                    <button type="submit" class=" input-group-text btn btn-warning shadow-bttn ">Обновить</button>
                </div>
            </form>
        </div>
        <div class="py-3">
            <h4 class="text-dark pb-3">Telegram API HASH </h4>
            <form method="post" action="">
                <div class="input-group">
                    <span class="input-group-text btn-warning text-white">Введите HASH</span>
                    <label style="width: calc(100% - 230.73px); height: 38px">
                        <input class="input-q" style="width: 100%; height: 38px" name="api_hash" value="">
                    </label>
                    <button type="submit" class="input-group-text btn btn-warning shadow-bttn">Обновить</button>
                </div>
            </form>
        </div>
        <div class="py-3">
            <h4 class="text-dark pb-3">SMS Код</h4>
            <form method="post" action="">
                <div class="input-group">
                    <span class="input-group-text btn-warning text-white">Введите код</span>
                    <label style="width: calc(100% - 215.73px); height: 38px">
                        <input class="input-q" style="width: 100%; height: 38px" name="filename" value="">
                    </label>
                    <button type="submit" class="input-group-text btn btn-warning shadow-bttn">Обновить</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}